* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
  font-size: 45px;
}
.color-orange {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
/* main styke */
header {
  background-color: #fff8f3;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
