* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange {
  color: #fd6e0a;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2 {
  font-size: 35px;
  margin-top: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.text-center {
  text-align: center;
}
/* main styles */
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background: url(../images/developer.png), url(../images/header_bg.png);
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
.menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  /* border: 2px solid yellowgreen; */
  margin: 46px 37px 0 231px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 585px;
}
.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner-image img {
  max-width: 585px;
  vertical-align: middle;
}
#about,
#skills,
#resume {
  padding-top: 130px;
}
.about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
.about-info {
  display: flex;
  justify-content: space-around;
}
.about-info p {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.about-info h4 {
  font-size: 20px;
}

.skills-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.skill-box {
  display: flex;
  gap: 24px;
}
.skill-card {
  padding: 30px;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #00000027;
}
.skill-card img {
  width: 44px;
  margin-bottom: 30px;
}
.skill-card h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p {
  font-size: 16px;
  color: #757575;
  line-height: 30px;
  /* margin-bottom: 30px; */
}
.resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}
.section-title,
.card-title {
  color: #474747;
  /* font-weight: bold; */
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-card {
  max-width: 511px;
  margin-right: 71px;
}
.card-title {
  color: #474747;
  /* font-weight: bold; */
  font-size: 25px;
  margin-bottom: 30px;
}
.card-info {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.card-text {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
hr {
  margin: 30px 0;
}
footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0;
}
.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}
.social {
  max-width: 562px;
}
.social h2 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}
.social p {
  color: #474747;
  line-height: 28px;
  margin-bottom: 30px;
}
.icons img {
  margin-right: 24px;
}
form h2 {
  margin-bottom: 20px;
  font-size: 35px;
  color: #181818;
}
form input[type="text"],
form input[type="email"],
form textarea {
  width: 461px;
  padding: 18px 41px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
